<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes registrados</title>
</head>
<body>
    <h1>Clientes registrados</h1>
    <table>
        <thead>
            <tr>

                <th>Username<th>
                <th>email<th>

            </tr>
        </thead>

        <tbody> 

            {% for cliente in clientes %}

            <tr>

                <th>{{ cliente.username }}<th>
                <th>{{ cliente.email }}<th>

            </tr>

            {% endfor %}

        </tbody>
    </table>
   
</body>
</html>